
 <a href="/login"(click)="loginOut()">Sign off</a>
<br>
<div class="container">
  <div class="row justify-content-md-center row-cols-auto">
    <div class="col">
      <!--  -->
      <form  [formGroup]="formulariBuscarReceta" (ngSubmit)="buscarPlato(formulariBuscarReceta.value)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Search Recipe</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="receta">
          <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="formulariBuscarReceta.invalid">Submit</button>
      </form>
      <!--  -->
        <br>
        
            <p>{{this.noDatosOrPlate}}</p>
            
      <div class="card border-dark mb-3 card text-white bg-dark mb-3" style="width: 18rem;">
        <img src="{{imageRecipe}}" class="card-img-top" alt="imagen">
          
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: {{title}}</li>
          <li class="list-group-item">Ready Minutes {{tiempoPreparacion}}</li>
          <li class="list-group-item">HealthScore {{healthScore}}</li>
          <li class="list-group-item">Plate Type {{vegetariano}}</li>
          <li class="list-group-item">{{calculaTamanoArray()}} Number of dishes on the menu: {{this.tamanoArray}} {{this.tamanoArray>=4?"Menu completo":""}}</li>
        </ul>
        <div class="card-body">
          <button class="btn btn-primary" type="button" (click)="agregarPlatoArray()">Add to menu</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-menu></app-menu>








<!-- <button type="submit" id="buscarPost" (click)="peticionPost()" >Peticion Post</button> -->



